body {
    background: linear-gradient(#FFFFFF, #F6F7FB);
    font-family: 'Poppins', sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 1rem;
    padding: 0 1rem;
    cursor: pointer;
}

nav img {
    width: 50px;
    height: 50px;
}

.logo {
    width: 100%;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center; 
}

.dog-img {
    width: 98%;
    border-radius: 15px;
}

.dog-info {
    position: absolute;
    bottom: 0;
    left: 20;
}

.dog-title {
    font-size: 2rem;
    font-weight: 600;
    color: #F8F8F8;
}

.dog-tagline {
    font-size: 1.5rem;
    font-weight: 400;
    color: #B7B7B7;
}

.action-btns {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.action-btns img {
    padding: 1em;
    background-color: #ffffff;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    box-shadow: 0px 10px 20px #E9E9EA;
    cursor: pointer;
    transition: 0.3s;
}

.action-btns img:hover {
    background-color: rgb(255, 231, 231);
}

.dislike {
    background-image: url("./images/badge-nope.png");
	background-size: contain;
	position: absolute;
    background-repeat: no-repeat;
	width: 14rem;
	height: 7rem;
	left: 1em;
	top: 4em;
    transform: rotate(-30deg);
}

.like {
    background-image: url("./images/badge-like.png");
	background-size: contain;
	position: absolute;
    background-repeat: no-repeat;
	width: 14rem;
	height: 7rem;
	left: 1em;
	top: 4em;
    transform: rotate(-30deg);
}

.hidden {
    display: none;
}

.end-message {
    margin-top: 3rem;
    color:rgb(121, 121, 121);
    text-align: center;
}